Repository google/skywater-pdk, pull requests merged in 2020-07, with the labels that each got.

#38 Automatic manage GitHub labels
  .github/labels.yml
  .github/workflows/manage-labels.yml
Labels: infrastructure, type-enhancement

#39 infra: Adding autolabeler configuration.
  .github/autolabeler.yml
Labels: infrastructure, type-enhancement

#42 Undefined name: minor -> self.hash
  scripts/python-skywater-pdk/skywater_pdk/base.py
Labels: scripts-python

#43 infra: Improve the labels a little.
  .github/labels.yml
Labels: infrastructure

#48 infra: Adding Synopsys DesignCompiler label.
  .github/labels.yml
Labels: infrastructure

#34 Adding liberty file generation
  .gitignore
  Makefile
  scripts/python-skywater-pdk/docs/skywater_pdk.rst
  scripts/python-skywater-pdk/skywater_pdk/corners.py
  scripts/python-skywater-pdk/skywater_pdk/liberty.py
  scripts/python-skywater-pdk/skywater_pdk/sizes.py
  scripts/python-skywater-pdk/skywater_pdk/utils.py
Labels: documentation, files-model-behavioral-verilog, files-model-functional-verilog, files-powerpins, files-schematic-svg, files-symbol-svg, files-symbol-verilog, lib-sky130_fd_sc_hd, lib-sky130_fd_sc_hdll, lib-sky130_fd_sc_hs, lib-sky130_fd_sc_lp, lib-sky130_fd_sc_ls, lib-sky130_fd_sc_ms, scripts-python, tools-Cadence-Innovus, tools-OpenROAD, type-enhancement

#64 Fixing the sky130_osu_sc label description
  .github/labels.yml
Labels: infrastructure

#67 docs: Adding more documentation pages.
  docs/analog.rst
  docs/analog/bag.rst
  docs/analog/fasoc.rst
  docs/analog/klayout.rst
  docs/analog/magic.rst
  docs/analog/new.rst
  docs/analog/virtuoso.rst
  docs/contents/libraries/sky130_fd_sc_hd
  docs/contents/libraries/sky130_fd_sc_hdll
  docs/contents/libraries/sky130_fd_sc_hs
  docs/contents/libraries/sky130_fd_sc_ls
  docs/digital.rst
  docs/digital/innovus.rst
  docs/digital/new.rst
  docs/digital/openroad.rst
  docs/glossary.rst
  docs/index.rst
  docs/previous.rst
  docs/sim.rst
  docs/sim/ngspice.rst
  docs/sim/spectre.rst
  docs/sim/spice.rst
  docs/verification.rst
  docs/verification/drc.rst
  docs/verification/drc/calibre.rst
  docs/verification/drc/klayout.rst
  docs/verification/drc/magic.rst
  docs/verification/lvs.rst
  docs/verification/lvs/calibre.rst
  docs/verification/lvs/klayout.rst
  docs/verification/lvs/magic.rst
  docs/verification/pex.rst
  docs/verification/pex/calibre.rst
  docs/verification/pex/klayout.rst
  docs/verification/pex/magic.rst
Labels: documentation, lib-sky130_fd_sc_hd, lib-sky130_fd_sc_hdll, lib-sky130_fd_sc_hs, lib-sky130_fd_sc_ls

#79 infra: Labels related to specific scripts.
  .github/autolabeler.yml
  .github/labels.yml
Labels: infrastructure, scripts-python, type-enhancement

#83 Fix types in README.rst file
  README.rst
  README.src.rst
Labels: documentation

#89 docs: Add CSV file with the GDS layer informations and comments
  docs/rules/assumptions.rst
  docs/rules/gds_layers.csv
  docs/rules/gds_layers.rst
Labels: documentation

#92 Fix ccsnoise properties ending up in basic liberty files.
  scripts/python-skywater-pdk/skywater_pdk/liberty.py
Labels: files-timing-liberty, lib-sky130_fd_sc_hd, lib-sky130_fd_sc_hdll, lib-sky130_fd_sc_hs, lib-sky130_fd_sc_hvl, lib-sky130_fd_sc_lp, lib-sky130_fd_sc_ls, lib-sky130_fd_sc_ms, lib-sky130_osu_sc, scripts-python, scripts-python-liberty

#101 Two small fixes
  .github/autolabeler.yml
  .github/labels.yml
  scripts/python-skywater-pdk/skywater_pdk/liberty.py
Labels: infrastructure, scripts-python, scripts-python-liberty

#102 scripts/liberty: Second attempt at filtering all ccsnoise data.
  scripts/python-skywater-pdk/skywater_pdk/liberty.py
Labels: files-timing-liberty, lib-sky130_fd_sc_hd, lib-sky130_fd_sc_hdll, lib-sky130_fd_sc_hs, lib-sky130_fd_sc_hvl, lib-sky130_fd_sc_lp, lib-sky130_fd_sc_ls, lib-sky130_fd_sc_ms, scripts-python-liberty

#81 Fix a number of issues with the generated liberty output
  scripts/python-skywater-pdk/skywater_pdk/liberty.py
Labels: lib-sky130_fd_sc_hvl, lib-sky130_fd_sc_lp, scripts-python, scripts-python-liberty
