Repository google/skywater-pdk, pull requests merged in 2020-11, with the labels that each got.

#213 infra: Use dependabot to automatically update GitHub actions.
  .github/workflows/dependabot-gha.yml
Labels: infrastructure

#214 Fix footnote issue in table 4
  docs/rules/summary.rst
  docs/rules/summary/table-f4-connectivity-of-drawn-and-mask.csv
  docs/rules/summary/table-f4-key.rst
Labels: documentation

#220 infra: Adding kokoro setup.
  .github/kokoro/continuous.cfg
  .github/kokoro/presubmit.cfg
  .github/kokoro/run.sh
  .github/kokoro/steps/auth.sh
  .github/kokoro/steps/git.sh
  .github/kokoro/steps/hostinfo.sh
  .github/kokoro/steps/hostsetup.sh
Labels: infrastructure

#219 infra: Add a little bit of documentation to labeler.yml file.
  .github/labeler.yml
Labels: infrastructure

#234 docs: Enable cloning the sky130_fd_io submodule.
  .readthedocs.yml
Labels: documentation, lib-sky130_fd_io

#226 Add repository links to the main page
  docs/index.rst
Labels: documentation

#227 Add units to rules
  docs/rules/periphery-rules.rst
  docs/rules/periphery/p018-x_dotdash.csv
  docs/rules/periphery/p020-dnwell_dotdash.csv
  docs/rules/periphery/p021-nwell_dotdash.csv
  docs/rules/periphery/p022-pwbm_dotdash.csv
  docs/rules/periphery/p022-pwdem_dotdash.csv
  docs/rules/periphery/p023-hvtp_dotdash.csv
  docs/rules/periphery/p024-hvtr_dotdash.csv
  docs/rules/periphery/p024-lvtn_dotdash.csv
  docs/rules/periphery/p025-ncm_dotdash.csv
  docs/rules/periphery/p026-difftap_dotdash.csv
  docs/rules/periphery/p027-tunm_dotdash.csv
  docs/rules/periphery/p028-poly_dotdash.csv
  docs/rules/periphery/p029-rpm_dotdash.csv
  docs/rules/periphery/p030-varac_dotdash.csv
  docs/rules/periphery/p031-photo_dotdash.csv
  docs/rules/periphery/p032-n_psd_dotdash.csv
  docs/rules/periphery/p032-npc_dotdash.csv
  docs/rules/periphery/p034-licon_dotdash.csv
  docs/rules/periphery/p035-ct_dotdash.csv
  docs/rules/periphery/p035-li_dotdash_dotdash.csv
  docs/rules/periphery/p036-capm_dotdash.csv
  docs/rules/periphery/p037-vpp_dotdash.csv
  docs/rules/periphery/p038-m1_dotdash.csv
  docs/rules/periphery/p039-via_dotdash.csv
  docs/rules/periphery/p040-m2_dotdash.csv
  docs/rules/periphery/p041-via2_dotdash.csv
  docs/rules/periphery/p042-m3_dotdash.csv
  docs/rules/periphery/p042-via3_dotdash.csv
  docs/rules/periphery/p043-indm_dotdash.csv
  docs/rules/periphery/p043-nsm_dotdash.csv
  docs/rules/periphery/p044-m4_dotdash.csv
  docs/rules/periphery/p044-m5_dotdash.csv
  docs/rules/periphery/p044-via4_dotdash.csv
  docs/rules/periphery/p045-pad_dotdash.csv
  docs/rules/periphery/p045-rdl_dotdash.csv
  docs/rules/periphery/p046-mf_dotdash.csv
  docs/rules/periphery/p047-hvi_dotdash.csv
  docs/rules/periphery/p047-hvnwell_dotdash.csv
  docs/rules/periphery/p048-hvdifftap_dotdash.csv
  docs/rules/periphery/p049-hvntm_dotdash.csv
  docs/rules/periphery/p049-hvpoly_dotdash.csv
  docs/rules/periphery/p050-denmos_dotdash.csv
  docs/rules/periphery/p051-depmos_dotdash.csv
  docs/rules/periphery/p052-extd_dotdash.csv
  docs/rules/periphery/p054-hv_dotdash_dotdash.csv
  docs/rules/periphery/p055-uhvi_dotdash_dotdash.csv
  docs/rules/periphery/p055-ulvt-_dotdash.csv
  docs/rules/periphery/p055-vhvi_dotdash_dotdash.csv
  docs/rules/periphery/p056-pwres_dotdash_dotdash.csv
  docs/rules/periphery/p057-rfdiode_dotdash_dotdash.csv
  docs/rules/periphery/periphery-split-csv.py
  docs/rules/periphery/periphery.csv
Labels: documentation

#241 Add repository links to the README.rst file
  README.rst
  README.src.rst
Labels: documentation

#229 Added script converting rst subscript and equations to math.
  docs/rules/device-details.rst
  docs/rules/device-details/cap_mim/index.rst
  docs/rules/device-details/cap_var/index.rst
  docs/rules/device-details/cap_vpp/index.rst
  docs/rules/device-details/diodes/index.rst
  docs/rules/device-details/esd_nfet/index.rst
  docs/rules/device-details/nfet_01v8/index.rst
  docs/rules/device-details/nfet_01v8_lvt/index.rst
  docs/rules/device-details/nfet_03v3_nvt/index.rst
  docs/rules/device-details/nfet_05v0_nvt/index.rst
  docs/rules/device-details/nfet_20v0/index.rst
  docs/rules/device-details/nfet_20v0_iso/index.rst
  docs/rules/device-details/nfet_20v0_nvt/index.rst
  docs/rules/device-details/nfet_20v0_zvt/index.rst
  docs/rules/device-details/nfet_g11v0d16v0/index.rst
  docs/rules/device-details/nfet_g5v0d10v5/index.rst
  docs/rules/device-details/npn_05v0/index.rst
  docs/rules/device-details/npn_05v0/npn_05v0-table0.rst
  docs/rules/device-details/pfet_01v8/index.rst
  docs/rules/device-details/pfet_01v8_hvt/index.rst
  docs/rules/device-details/pfet_01v8_lvt/index.rst
  docs/rules/device-details/pfet_20v0/index.rst
  docs/rules/device-details/pfet_g5v0d10v5/index.rst
  docs/rules/device-details/pfet_g5v0d16v0/index.rst
  docs/rules/device-details/pnp_05v0/index.rst
  docs/rules/device-details/pnp_05v0/pnp_05v0-table0.rst
  docs/rules/device-details/res_high/index.rst
  docs/rules/device-details/res_xhigh/index.rst
  docs/rules/device-details/special_sonosfet/special_sonosfet-table1.rst
  docs/rules/device-details/special_sram/index.rst
Labels: documentation

#257 Fix footnote warnings - table footnotes included in parent documents
  docs/conf.py
  docs/rules/layers/table-f2a-lvs-key.rst
  docs/rules/layers/table-f2b-mask-key.rst
  docs/rules/summary.rst
Labels: documentation
